$primaryNormal: #06121e;
$primeryDark: #040f1a;
$primaryLight: #0c2135;

$secondaryNormal:#090d11;
$seconsaryDark: #06090c;
$secondaryLight: #1a1f25;

$blackNormal: #232224;
$blackDark: #161617;
$blackLight: #353436;

$whiteNormal: #ffffff;
$whiteDark: #EDEAEF;
$whiteLight: #fefbff;

$redNormal: #D94140;
$redDark: #b42b2b;
$redLight: #d34040;